<%= klass_menu("Add DNS zone") %>

<% labelled_tabular_form_for :bind_zone, @bind_zone, :url => {:action=>'add_zone'} do |f| -%>

  <p><%= error_messages_for 'bind_zone' %></p>

  <%= render :partial => 'bind_zone', :locals => {:f => f} %>

  <%= submit_tag("Add")%><br />
  <%= link_to "Back", :action=>'configure', :id=>@klass %>

<% end -%>
