<%= klass_menu("Bind DNS server") %>


<h3>Global config</h3>

<% labelled_tabular_form_for :bind, @klass, :url=>{:action=>'configure'} do |f| -%>

  <p><%= f.error_messages %></p>

  <p><%= f.text_area("nameservers", :cols=>40, :rows=>3) %><br />(<%= l "one nameserver per line" %>)</p>

  <p><%= f.text_field("ip") %> (<%= l(:field_ip_info) %>)</p>

  <p><%= submit_tag("Save") %></p>

<% end -%>

<h2>Master zones</h2>

<table>
<% @klass.master_zones.sort.each do |z| -%>
  <tr>
    <td><%= link_to z.domain, :action=>'edit_zone', :id=>z %></td>
    <td><%= link_to image_tag("cross.gif",:plugin=>'initr',:border=>0), {:action=>'destroy_zone', :id=>z}, :confirm => "Delete #{z.domain}?", :method => :post %></td>
  </tr>
<% end -%>
</table><br />

<% if @klass.nameservers.nil? or @klass.nameservers.blank? -%>
  <p><%= l "Enter at least one nameserver to add zones" %></p>
<% else -%>
  <%= link_to "Add zone", :controller => 'bind', :action => 'add_zone', :id => @klass %>
<% end -%>

<br />
<br />

<h2>Slave zones</h2>

<table>
<% @klass.masters.each do |m| -%>
  <tr>
    <td><%= l(:slave_of, :node => m.node.fqdn) %></td>
    <td><%= link_to image_tag("cross.gif",:plugin=>'initr',:border=>0), {:action=>'rm_master', :id=>@klass, :master=>m.id}, :confirm => "Stop acting as slave of #{m.node.fqdn}?", :method => :post %> <%= link_to(image_tag("bullet_go.png"),:action=>"configure",:id=>m) %></td>
  </tr>
<% end -%>
<% if @klass.masters.any? -%>
  <tr>
    <td colspan="2"> --- </td>
  </tr>
<% end -%>
<% @klass.slave_zones.sort.each do |z| -%>
  <tr>
    <td><%= link_to z.domain, :action=>'edit_zone', :id=>z %></td>
    <td><%= link_to image_tag("cross.gif",:plugin=>'initr',:border=>0), {:action=>'destroy_zone', :id=>z}, :confirm => "Delete #{z.domain}?", :method => :post %></td>
  </tr>
<% end -%>
</table><br />

<% if @klass.nameservers.nil? or @klass.nameservers.blank? -%>
  <p><%= l "Enter at least one nameserver to add zones" %></p>
<% else -%>
  <%= link_to "Add zone", :controller => 'bind', :action => 'add_zone', :id => @klass, :master => :false %><br />
  <%= link_to "Act as slave of...", :controller => 'bind', :action => 'add_master', :id => @klass %>
<% end -%>

<br />
<br />
<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
