<%= klass_menu("DNS zones") %>

<table>
<% @klass.bind_zones.sort.each do |z| -%>
  <tr>
    <td><%= link_to z.domain, :action=>'edit_zone', :id=>z %></td>
    <td><%= link_to image_tag("cross.gif",:plugin=>'initr',:border=>0), {:action=>'destroy_zone', :id=>z}, :confirm => "Delete #{z.domain}?", :method => :post %></td>
  </tr>
<% end -%>
</table><br />

<% if @klass.nameservers.nil? or @klass.nameservers.blank? -%>
  <p><%= l "Enter at least one nameserver to add zones" %></p>
<% else -%>
  <%= link_to "Add zone", :controller => 'bind', :action => 'add_zone', :id => @klass %>
<% end -%>
<br />
<br />

<h3>Global config</h3>

<% labelled_tabular_form_for :bind, @klass, :url=>{:action=>'configure'} do |f| -%>

  <p><%= error_messages_for 'klass' %></p>

  <p><%= f.text_area("nameservers", :cols=>40, :rows=>3) %><br />(<%= l "one nameserver per line" %>)</p>

  <p><%= submit_tag("Save") %></p>

<% end -%>

<hr />

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
