<%= klass_menu("DNS zones") %>

<h3>Utils</h3>
<p>
<%= link_to "Link to invoices", action: 'link_to_invoices' %> -
<%= link_to "Query registry", action: 'query_registry' %> -
<%= link_to "Update Active NS", action: 'update_active_ns' %> -
<%= link_to "Export CSV", format: 'csv' %>
</p>

<h3>MASTER zones</h3>

<table>
  <tr>
    <th>www</th>
    <th>Name</th>
    <th>Notes</th>
    <% if @project.module_enabled?(:haltr) %>
      <th>Invoice</th>
    <% end %>
    <th>Registrant</th>
    <th>Expires</th>
    <th>Active NS</th>
  </tr>
  <% @klass.bind_zones.sort.each do |z| -%>
    <tr>
      <td><%= link_to "www", "http://www.#{z.domain}/", :target => "_blank" %></td>
      <td><%= link_to z.domain, :action=>'edit_zone', :id=>z %></td>
      <td><%= z.info.gsub(/[\n\r]/,' ') if z.info %></td>
      <% if @project.module_enabled?(:haltr) %>
        <td>
          <%= link_to(truncate(z.invoice.client.name), invoice_path(z.invoice), class: "icon icon-#{z.invoice.is_a?(InvoiceTemplate) ? 'checked' : 'warning'}" ) if z.invoice %>
         </td>
      <% end %>
      <td><%= truncate(z.registrant) %></td>
      <td class="<%= "highlight" if z.expires_on and z.expires_on < (Date.today + 15) %>"><%= z.expires_on %></td>
      <td><%= truncate(z.active_ns) %></td>
      <td><%= link_to image_tag("cross.gif",:plugin=>'initr',:border=>0), {:action=>'destroy_zone', :id=>z}, :confirm => "Delete #{z.domain}?", :method => :post %></td>
    </tr>
  <% end -%>
</table><br />

<% if @klass.nameservers.nil? or @klass.nameservers.blank? -%>
  <p><%= l "Enter at least one nameserver to add zones" %></p>
<% else -%>
  <%= link_to "Add zone", :controller => 'bind', :action => 'add_zone', :id => @klass %>
<% end -%>
<br />
<br />

<%= labelled_form_for :bind, @klass, :url=>{:action=>'configure'}, :html=>{:class=>'tabular'} do |f| -%>

  <p><%= error_messages_for 'klass' %></p>

  <p><%= f.text_area("nameservers", :cols=>40, :rows=>3) %><br />(<%= l "one nameserver per line" %>)</p>

  <p><%= f.text_field("ipaddress") %> (<%= l(:used_by_slave_servers) %>)</p>

  <p><%= f.text_area("allowed_ips", :cols=>40, :rows=>3) %> (<%= l(:allowed_ips) %>)</p>

  <p><%= submit_tag("Save") %></p>

<% end -%>


<h3>SLAVE zones</h3>

<h4><%= l(:act_as_slave_server_of) %></h4>
<div id="master_servers">
  <%= render :partial => 'masters' %>
</div>

<% if @klass.slaves.any? -%>
  <br />
  <h4><%= l(:acts_as_master_server_of) %></h4>
  <% @klass.slaves.each do |slave| -%>
    <%= link_to slave.node_fqdn, :controller => 'bind', :action => 'configure', :id => slave %><br />
  <% end -%>
<% end -%>


<br />
<hr />

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>

<%=
  content_for :header_tags do
    javascript_include_tag('bind.js', :plugin => 'bind')
  end
%>
