<%= labelled_form_for :bind_zone, @bind_zone, :url => {:action=>'edit_zone'}, :html=>{:class=>'tabular'} do |f| -%>

  <p><%= error_messages_for 'bind_zone' %></p>

  <p>
  <%= link_to @bind_zone.invoice_line, invoice_path(@bind_zone.invoice_line.invoice) if @bind_zone.invoice_line %>
  </p>

  <%= render :partial => 'bind_zone', :locals => {:f => f} %>

  <%= submit_tag("Save")%><br />
  <%= link_to "Back", :action=>'configure', :id=>@klass %>

<% end -%>
