<% unless @facts.empty? -%>
  <h3>Facts</h3>
  <table class="list" style="table-layout: fixed;">
    <tr align="left">
      <th width="18%">Fact</th>
      <th width="82%"><%="Value"%></th>
    </tr>
  <% @facts.each do |name, value| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td style="font-weight: bold;"><div><%=link_to name, :controller=>'node', :action=>'facts', :id=>name%></div></td>
      <% if value.to_s.size > 100 %>
        <td><div class="wiki"><pre style="margin: 0;"><%= value %></pre></div></td>
      <% else %>
        <td><%= value %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end -%>
