<tr class="<%= cycle('odd', 'even') %> issue">
  <td><%= os_img(node) %><span class="initr_os_version"><%= node.os_release.split('.').first %></span></td>
  <td><span title="<%= node.puppetversion %>"><%= node.puppetversion.split('.').first %></span></td>
<td class="subject">
  <span title="<%= node.name %>">
    <%= link_to node.fqdn, :controller => 'klass', :action => 'list', :id => node %>
  </span>
</td>
<td class="subject">
  <%=
    begin
      node.klasses.sort.collect { |k|
        next unless k.active?
        link_to(k.name, :controller=>k.controller, :action=>'configure', :id=>k.id)
      }.compact.join(", ").html_safe
    rescue ActiveRecord::SubclassNotFound => e
      link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>node.id)
    end
  -%>
</td>
<td>
  <%
  begin
    node.klasses.each do |k|
      next unless k.nodelist_partial
      begin
      -%><%= render :partial => k.nodelist_partial, :locals => {:klass=>k} %><%
      rescue ActionView::MissingTemplate => e
      end
    end
  rescue ActiveRecord::SubclassNotFound => e
  -%><%= link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>node.id) %><%
  end
  -%>
</td>
</tr>
