<tr class="<%= cycle('odd', 'even') %> issue">
<td><%= image_tag("os/#{node.os}.png", :title => "#{node.os} #{node.os_release} Kernel #{node.kernel}", :plugin => "initr") %></td>
<td class="subject">
  <%= image_tag("warning.png",:title=>"Node has configuration errors") if node.config_errors? %>
  <%= link_to node.name, :controller => 'klass', :action => 'list', :id => node %>
</td>
<td class="subject">
  <%=
    node.klasses.collect { |k|
      if k.configurable?
        link_to(k.name, :controller=>k.controller, :action=>'configure', :id=>k.id)
      else
        link_to(k.name, :controller=>'klass', :action=>'list', :id=>node.id)
      end
    }.join(", ") rescue(link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>node.id))
  -%>
</td>
<td><%= current_state(node) %></td>
<td>
  <%= render :partial => node.provider_partial, :locals => {:node=>node} if node.provider_is_configured? %>
</td>
<td>
  <% node.klasses.each do |k| -%>
  <%= render :partial => "#{k.class.to_s.gsub("Initr","").underscore}/nodelist", :locals => {:klass=>k} rescue "" %>
  <% end rescue ActiveRecord::SubclassNotFound -%>
  <%= link_to image_tag("cross.gif", :plugin => "initr" , :border => 0), { :action => 'destroy', :id => node }, :confirm => 'Remove this node?', :method => :post %>
</td>
</tr>
