<tr class="<%= cycle('odd', 'even') %> issue">
<td><%= image_tag("os/#{node.os}.png", :title => "#{node.os} #{node.os_release} Kernel #{node.kernel}", :plugin => "initr") unless node.os.nil? %></td>
<td class="subject">
  <%= image_tag("warning.png",:title=>"Node has configuration errors") if node.config_errors? %>
  <%= link_to node.name, :controller => 'klass', :action => 'list', :id => node %>
</td>
<td class="subject">
  <%=
    begin
      node.klasses.sort.collect { |k|
        link_to(k.name, :controller=>k.controller, :action=>'configure', :id=>k.id)
      }.join(", ")
    rescue ActiveRecord::SubclassNotFound => e
      link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>node.id)
    end
  -%>
</td>
<td><%= current_state(node) %></td>
<td>
  <%= render :partial => node.provider_partial, :locals => {:node=>node} if node.provider_is_configured? %>
</td>
<td>
  <%
  begin
    node.klasses.each do |k|
      begin
      -%><%= render :partial => "#{k.class.to_s.split('::').last.underscore}/nodelist", :locals => {:klass=>k} %><%
      rescue ActionView::MissingTemplate => e
      end
    end
  rescue ActiveRecord::SubclassNotFound => e
  -%><%= link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>node.id) %><%
  end
  -%>
</td>
</tr>
