<p class="box" style="text-align: center;">To complete your node installation choose your operating system and copy&paste lines in a root shell</p>

<h4>Debian</h4>
<pre>
<% if Setting[:protocol] == "https" -%>
 apt-get install ca-certificates && wget -qO - <%= install_url(:action=>'debian',:id=>@node.name,:protocol=>'https') %> | /bin/sh
<% else -%>
 wget -qO - <%= install_url(:action=>'debian',:id=>@node.name) %> | /bin/sh
<% end -%>
</pre>

<h4>Ubuntu</h4>
<pre>
<% if Setting[:protocol] == "https" -%>
 apt-get install ca-certificates && wget -qO - <%= install_url(:action=>'ubuntu',:id=>@node.name,:protocol=>'https') %> | /bin/sh
<% else -%>
 wget -qO - <%= install_url(:action=>'ubuntu',:id=>@node.name) %> | /bin/sh
<% end -%>
</pre>

<h4>CentOS</h4>
<pre>
<% if Setting[:protocol] == "https" -%>
 wget --no-check-certificate -qO - <%= install_url(:action=>'centos',:id=>@node.name,:protocol=>'https') %> | /bin/sh
</pre>
<p>On CentOS you need to use --no-check-certificate because our CA is not yet included in /etc/pki/tls/certs/ca-bundle.crt</p>
<% else -%>
 wget -qO - <%= install_url(:action=>'centos',:id=>@node.name) %> | /bin/sh
</pre>
<% end -%>

<h4>Mac OS X</h4>
<pre>
<% if Setting[:protocol] == "https" -%>
 sudo curl -k  <%= install_url(:action=>'darwin',:id=>@node.name,:protocol=>'https') %> | /bin/sh
<% else -%>
 sudo curl <%= install_url(:action=>'darwin',:id=>@node.name) %> | /bin/sh
<% end -%>
</pre>
