<tr class="<%= cycle('odd', 'even') %> issue">
<td><%= os_img(node) %></td>
<td class="subject">
  <%= image_tag("warning.png",:title=>"Node has configuration errors") if node.config_errors? %>
  <%= link_to node.fqdn, :controller => 'klass', :action => 'list', :id => node %>
</td>
<td class="subject">
  <%=
    begin
      node.klasses.sort.collect { |k|
        next unless k.active?
        link_to(k.name, :controller=>k.controller, :action=>'configure', :id=>k.id)
      }.compact.join(", ").html_safe
    rescue ActiveRecord::SubclassNotFound => e
      link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>node.id)
    end
  -%>
</td>
<td><%= link_to_report(node.report) %></td>
<td>
  <%= render :partial => node.provider_partial, :locals => {:node=>node} if node.provider_is_configured? %>
</td>
<td>
  <%
  begin
    node.klasses.each do |k|
      next unless k.nodelist_partial
      begin
      -%><%= render :partial => k.nodelist_partial, :locals => {:klass=>k} %><%
      rescue ActionView::MissingTemplate => e
      end
    end
  rescue ActiveRecord::SubclassNotFound => e
  -%><%= link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>node.id) %><%
  end
  -%>
</td>
</tr>
