<table class="list" style="table-layout: fixed;">
  <tr align="left">
    <th width="28%">Node</th>
    <th width="72%"><%="Value"%></th>
  </tr>
<% @facts.each do |node,fact| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td style="font-weight: bold;"><div><%= link_to node.fqdn, :controller=>'klass', :action=>'list', :id=>node %></div></td>
    <% if fact.size > 100 %>
    <td><div class="wiki"><pre style="margin: 0;"><%= fact %></pre></div></td>
    <% else %>
    <td><%= fact %></td>
    <% end %>
  </tr>
<% end %>
</table>
