<h2><%="Node inventory"%></h2>

<table class="list issues">

  <thead>
    <tr>
      <th title="Distribution">OS</th>
      <th style="text-align:left;">Hostname</th>
      <th title="What you want">Desired state</th>
      <th title="What it actually is">Last report</th>
      <th title="Where is the hardware">Provider</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @nodes.keys.sort.each do |proj| -%>
      <% unless @project or @nodes[proj].nil? or @nodes[proj].empty? or proj.nil? -%>
        <% content_tag :tr do -%>
          <%= content_tag :th, project_path(proj), :colspan=>6, :align=>"left" %>
        <% end -%>
      <% end -%>
      <% @nodes[proj].sort.each do |node| -%>
        <%= render :partial => 'node_line', :locals => {:node=>node} %>
      <% end -%>
    <% end -%>
    
  </tbody>

</table>

<h2><%="Templates"%></h2>

<table class="list issues">

  <thead>
    <tr>
      <th title="Template name">Name</th>
      <th title="Template includes">Content</th>
    </tr>
  </thead>

  <tbody>

    <% @templates.keys.sort.each do |proj| -%>
      <%= content_tag("th", project_path(proj), :colspan=>6, :align=>"left") unless @project %>
      <% @templates[proj].sort.each do |templ| -%>
        <%= render :partial => 'template_line', :locals => {:templ=>templ} %>
      <% end -%>
    <% end -%>
    <% if @templates_without_project.any? -%>
      <%= content_tag("th", "Templates without project", :colspan=>6, :align=>"left") %>
      <% @templates_without_project.each do |templ| -%>
        <%= render :partial => 'template_line', :locals => {:templ=>templ} %>
      <% end -%>
    <% end -%>

  </tbody>

</table>
