<h2>Configure a new node template</h2>

<div class="form">

  <%= error_messages_for 'node_template' %>

  <fieldset>
    <%= form_for :node_template, :url => { :action => 'new_template' }  do |form| %>
      <p>
      <label for="name"><%="Name"%>:</label>
      <%= form.text_field(:name, :size => 40) %>
      </p>

      <%= submit_tag("New template", :class => "submit") %>

    <% end %>
  </fieldset>
</div>

