<%= klass_menu "PackageManager" %>

<%= labelled_form_for @klass, :url=>{:action=>'configure'}, :html=>{:class=>'tabular'} do |f| -%>
  <%= error_messages_for 'klass' %>

  <% begin -%>
    <%= render :partial => @node.puppet_fact("operatingsystem").downcase, :locals=>{:f=>f} %>
  <% rescue NoMethodError -%>
    <h3>Node has no facts yet, please run puppet</h3>
  <% rescue ActionView::MissingTemplate -%>
    <%= render :partial => "unsuported" %>
  <% end -%>

  <p><%= submit_tag("Save")%></p>

<% end -%>

<hr />

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
