<fieldset>
  <legend>Config</legend>
  <p><%= form.text_field :name %></p>
  <p><%= form.check_box :add_www %></p>
  <p><%= form.check_box :force_www %></p>
  <p><%= form.check_box :awstats_www %></p>
  <p><%= form.check_box :railsapp %></p>
  <p><%= form.text_field :rails_root %></p>
  <p><%= form.select(:rails_spawn_method, ["smart","smart-lv2","conservative"], :include_blank=>true) %></p>
  <p><%= form.select(:web_backups_server_id, @web_backups_servers, :include_blank=>true) %></p>
  <p><%= form.check_box(:use_suphp) %></p>
</fieldset>
<fieldset>
  <legend>Authentication</legend>
  <p><%= form.text_field :user_ftp, :onblur => "javascript: copy_ftpuser(this.value);" %></p>
  <p><%= form.text_field :password_ftp %></p>
  <p><%= form.check_box  :shell %></p>
  <p><%= form.text_field :user_awstats %></p>
  <p><%= form.text_field :password_awstats %></p>
  <p><%= form.text_field :user_mysql %></p>
  <p><%= form.text_field :dbname %></p>
  <p><%= form.text_field :password_db %></p>
</fieldset>

<script type="text/javascript">
<!--
function copy_ftpuser(user) {
  if ( $("webserver1_domain_user_awstats").value == "" ) {
    $("webserver1_domain_user_awstats").value=user;
  }
  if ( $("webserver1_domain_user_mysql").value == "" ) {
    $("webserver1_domain_user_mysql").value=user;
  }
}
//-->
</script>
