<fieldset>
  <legend>Config</legend>
  <p><%= form.text_field :name %></p>
  <p><%= form.check_box :force_www %></p>
  <p><%= form.check_box :railsapp %></p>
  <p><%= form.text_field :rails_root %></p>
  <p><%= form.select(:rails_spawn_method, ["smart","smart-lv2","conservative"], :include_blank=>true) %></p>
  <p><%= form.select(:web_backups_server_id, @web_backups_servers, :include_blank=>true) %></p>
</fieldset>
<fieldset>
  <legend>Authentication</legend>
  <p><%= form.text_field :username %></p>
  <p><%= form.text_field :password_ftp %></p>
  <p><%= form.check_box :shell %></p>
  <p><%= form.text_field :password_awstats %></p>
  <p><%= form.text_field :dbname %></p>
  <p><%= form.text_field :password_db %></p>
</fieldset>
