<table>
    <td>
      <h4>Domain config</h4>
      <p><%= form.text_field :name %></p>
      <p><%= form.text_field :username %></p>
      <p><%= form.text_field :password_ftp %></p>
      <p><%= form.text_field :password_awstats %></p>
      <p><%= form.text_field :password_db %></p>
      <p><%= form.text_field :dbname %></p>
      <p><%= form.check_box :shell %></p>
      <p><%= form.check_box :force_www %></p>
      <h4>Backups</h4>
      <p><%= form.select(:web_backups_server_id, @web_backups_servers, :include_blank=>true) %></p>
    </td>
    <% unless @domain.new_record? -%>
    <td width="40px"></td>
    <td valign="top">
      <h4>Current settings</h4>
      <pre>
--
Dades del hosting <%= @domain.name %>
--

Servidor compartit <%= @domain.webserver1.node.name %> [<%=@domain.webserver1.node.puppet_fact('ipaddress')%>]

ACCÉS FTP <%= "i SSH" unless @domain.shell == "0" %>

Host:         <%= @domain.name %>
Usuari:       <%= @domain.username %>
Contrasenya:  <%= @domain.password_ftp %>

ESTADÍSTIQUES DE VISITES

URL:          http://<%= @domain.name %>/awstats
Usuari:       <%= @domain.username %>
Contrasenya:  <%= @domain.password_awstats %>

<% if @domain.dbname and @domain.dbname.size > 0 %>
BASE DE DADES MySQL

Host:              localhost
Nom base de dades: <%= @domain.dbname %>
Usuari:            <%= @domain.username %>
Contrasenya:       <%= @domain.password_db %>

------

<% end -%>
      </pre>
    </td>
    <% end -%>
  </tr>
</table>


