<%= klass_menu "Webserver configuration" %>

<fieldset>
  <legend>Domains</legend>
<table>
  <% unless @klass.domains.size == 0 -%>
  <tr>
    <th>Domain</th>
    <th>Stastics</th>
    <th>Ftp</th>
  </tr>
  <% end -%>
<% @klass.domains.sort.each do |domain| -%>
  <tr>
    <td><%= link_to domain.name, :action => 'edit_domain', :id => domain %></td>
    <td><%= link_to "http://#{"www." if domain.awstats_www}#{domain.name}/awstats", "http://#{domain.user_awstats}:#{domain.password_awstats}@#{"www." if domain.awstats_www}#{domain.name}/awstats", :target => 'blank' %></td>
    <td><%= link_to "ftp://#{domain.name}", "ftp://#{domain.user_ftp}@#{domain.name}", :target => 'blank' %></td>
    <td><%= link_to image_tag("cross.gif", :plugin => "initr", :border => 0), {:action => 'rm_domain', :id => domain}, :confirm => "Delete #{domain.name}?", :method => :post %></td>
  </tr>
<% end -%>
</table>

<p><%= link_to "Add new domain", :action => 'add_domain', :id => @klass %></p>

</fieldset>

<br />
<% labelled_tabular_form_for(:webserver1, @klass, :url=>{:action=>'configure'}) do |f| %>

<%= f.error_messages %>

<fieldset>
  <legend><%= l :field_webserver_default_domain %></legend>
  <p><%= f.text_field :webserver_default_domain %></p>
  <p><%= f.check_box :manage_default_domain %> <%= help :help_manage_default_domain %></p>
</fieldset>

<br/>

<fieldset>
  <legend>Awstats</legend>
  <p><%= f.text_field :admin_password, :disabled=>true %></p>
  <p><%= f.password_field :password %></p>
  <p><%= f.password_field :password_confirmation %></p>
</fieldset>

<br />

<fieldset>
  <legend>Phpmyadmin</legend>
  <p><%= f.check_box :accessible_phpmyadmin %></p>
  <p><%= f.text_field :blowfish_secret %> (you must fill in this for cookie auth)</p>
</fieldset>

<fieldset>
  <legend>PHP</legend>
  <p><%= f.check_box :manage_php %></p>
</fieldset>

<fieldset>
  <legend>FTP</legend>
  <p><%= f.check_box :allow_anonymous_ftp %></p>
</fieldset>

  <p><%= submit_tag("Save")%></p>
<% end %>

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>

