<h2><%=@node.fqdn%></h2>

<h3>Edit domain <%= @domain.name%></h3>

<table>
    <td valign="top">
      <h4>Domain config</h4>
<% labelled_tabular_form_for('webserver1_domain', @domain, :url=>{:action=>'edit_domain'}) do |f| -%>
  <p><%= f.error_messages %></p>
  <%= render :partial => 'webserver1_domain', :locals => {:form => f} %>
  <p>
  <%= submit_tag("Edit")%>
  </p>
<% end -%>
    </td>
    <td width="40px"></td>
    <td valign="top">
      <%= render :partial => 'webserver1_bind' %>
      <h4>Current settings</h4>
      <pre>
--
Dades del hosting <%= @domain.name %>
--

Servidor: <%= @domain.webserver1.node.fqdn %>
IP: <%=@domain.webserver1.node.puppet_fact('ipaddress')%>

ACCÉS FTP <%= "i SSH" unless @domain.shell == "0" %>

Host:         <%= @domain.name %>
Usuari:       <%= @domain.user_ftp %>
Contrasenya:  <%= @domain.password_ftp %>

ESTADÍSTIQUES DE VISITES

URL:          http://<%= "www." if @domain.awstats_www %><%= @domain.name %>/awstats
Usuari:       <%= @domain.user_awstats %>
Contrasenya:  <%= @domain.password_awstats %>

<% if @domain.dbname and @domain.dbname.size > 0 %>
BASE DE DADES MySQL

Host:              localhost
Nom base de dades: <%= @domain.dbname %>
Usuari:            <%= @domain.user_mysql %>
Contrasenya:       <%= @domain.password_db %>

------

<% end -%>
      </pre>
    </td>
  </tr>
</table>


<%= link_to "Cancel", { :action => 'configure', :id => @klass } %>
