<%= klass_menu "RemoteBackupServer" %>

<%= labelled_form_for(:remote_backup_server, @klass, :url=>{:action=>'configure'}, :html=>{:class=>'tabular'}) do |f| -%>
 
  <%= error_messages_for 'klass' %>

  <p><%= f.text_field :remotebackups_path %></p>
  <p><%= f.text_field :address %></p>
  <p><%= f.text_field :webreports_url %></p>

  <p><%= submit_tag("Save")%></p>

<% end -%>

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
