<%=klass_menu "Choose a class to link"%>

<%= labelled_form_for :link_klass, @klass, :url=>{:action=>'create',:id=>@node}, :html=>{:class=>'tabular'} do |f| -%>

  <%= render :partial => 'tabular_form', :locals=>{:f=>f} %>

  <p><%= submit_tag("Save") %></p>

<% end -%>

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
