<%= klass_menu "Web backups server" %>

<% labelled_tabular_form_for(:web_backups_server, @klass, :url=>{:action=>'configure'}) do |f| %>

<%= error_messages_for 'wbs' %>

  <p><%= f.text_field :address %>
    <br/><em>The adress webservers will ssh to.</em></p>
  <p><%= f.text_field :port %>
    <br/><em>The port webservers will ssh to.</em></p>
  <p><%= f.text_field :backups_path %>
    <br/><em>Will store backups in {backups_path}/webservers/{domain_name}/</em></p>

  <p><%= submit_tag("Save")%></p>
<% end %>

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>

