<%= klass_menu "Web backups server" %>

<% labelled_tabular_form_for(:web_backups_server, @klass, :url=>{:action=>'configure'}) do |f| %>

<%= error_messages_for 'wbs' %>

  <p><%= f.text_field :address %></p>
  <p><%= f.text_field :port %></p>
  <p><%= f.text_field :backups_path %></p>

  <p><%= submit_tag("Save")%></p>
<% end %>

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>

