<%= klass_menu %>

<%= labelled_form_for(:base, @klass, :url=>{:action=>'configure'}, :html=>{:class=>'tabular'}) do |f| -%>

  <p><%= error_messages_for 'klass' %></p>
  <p><%= f.radio_button :puppet, :none %> Don't manage puppet</p>
  <h3>Puppet daemon running</h3>
  <p><%= f.radio_button :puppet, :normal %> Standard behavior</p>
  <p><%= f.radio_button :puppet, :insistent %> Restart when configuration changes</p>
  <h3>Puppet daemon stopped</h3>
  <p><%= f.radio_button :puppet, :lite %> Called once daily from cron</p>
  <p><%= f.radio_button :puppet, :lite_insistent %> Called once daily from cron and when configuration changes</p>

  <p><%= submit_tag("Send")%></p>

<% end -%>


<hr />
<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>

