<h3>Copy class from <%=@node.fqdn%></h2>

<%= labelled_form_for :klass, @klass, :url=>{:action=>'copy'}, :html=>{:class=>'tabular'} do |f| -%>
  <p><%= error_messages_for 'new_klass' %></p>
  <p><%= f.select('node_id',@nodes.collect {|n| [n.fqdn,n.id]}) %></p>
  <p><%= submit_tag("Copy") %></p>
<% end -%>
<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
