<h2><%=@node.fqdn%></h2>

<h3>Configure new nagios check</h3>

<% labelled_tabular_form_for(:nagios_check, @nagios_check, :url => {:action => 'create_check', :id => @klass}) do |f| -%>
  <p><%= error_messages_for 'nagios_check' %></p>

  <%= render(:partial => 'nagios_check', :locals => {:form => f}) %>
  <%= f.hidden_field :ensure, :value => "present" %>

  <p>
  <%= f.hidden_field("nagios_id", :value => @klass.id) %>
  <%= link_to("Cancel", { :action => 'configure', :id => @klass }) %>
  </p>
  <p>
  <%= submit_tag("Add")%>
  </p>
<% end -%>
