<h2><%=@node.fqdn%></h2>

<h3>Configure WPKG</h3>

<%= error_messages_for 'initr_wpkg' %>

<% form_for(:wpkg, @initr_wpkg, :url => {:action => 'configure'} ) do |f| -%>

<% new_or_existing = @initr_wpkg.wpkg_conf.new_record? ? 'new' : 'existing' -%>
<% prefix = "wpkg[#{new_or_existing}_wpkg_conf_attributes][]" -%>
<% fields_for prefix, @initr_wpkg.wpkg_conf do |wpkg_conf_form| -%>

<table class="list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Revision</th>
      <th>Default profile</th>
    </tr>
  </thead>
  <tbody>
    <% @packages.each do |p| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <td><%=  p.id %></td>
    <td><%=  p.name %></td>
    <td><%=  p.revision %></td>
    <td align="center">
      <%= wpkg_conf_form.check_box :packages %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<% end %>

<p><%= submit_tag "Save" %></p>

<% end %>

<hr/>
<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
