<h2><%=@node.fqdn%></h2>

<h3>Configure WPKG</h3>

<% form_for :wpgk do |f| -%>

<table class="list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Revision</th>
      <th>Default profile</th>
    </tr>
  </thead>
  <tbody>
    <% @packages.each do |p| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <td><%=  p.id %></td>
    <td><%=  p.name %></td>
    <td><%=  p.revision %></td>
    <td align="center">
      <%= check_box_tag "config[#{p.id}]", true, @wpkg.config[p.id], :id => nil %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<p><%= f.submit "Save" %></p>

<% end %>

<hr/>
<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
