<h2><%=@node.fqdn%></h2>

<h3>Configure WPKG</h3>

<%= error_messages_for 'initr_wpkg' %>

<% form_tag({:action => 'report'}, :id => 'permissions_form') do %>

<table class="list">
<thead>
    <tr>
    <th>Package name</th>
    <th>Default profile</th>
    </tr>
</thead>
<tbody>
<% ['Microsoft Office 2003','SP3 for XP','OpenOffice 3'].each do |line| %>
<tr class="<%= cycle('odd', 'even') %> application-<%= line %>">
<td>
  <%= line %>
</td>
<td align="center">
  <%= check_box_tag "software[#{line}][]", line, true , :id => nil %>
</td>
<% end %>
<tr>
  <%= content_tag('th', 'Internet', :colspan => 2, :align => 'left') %>
</tr>
<% ['Firefox 3','Thunderbird'].each do |line| %>
<tr class="<%= cycle('odd', 'even') %> application-<%= line %>">
<td>
  <%= line %>
</td>
<td align="center">
  <%= check_box_tag "software[#{line}][]", line, true , :id => nil %>
</td>
<% end %>
</tr>
</tbody>
</table>
<p><%= submit_tag "Save" %></p>
<% end %>



<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
