<%= klass_menu "Configure WPKG" %>

<p>To install WPKG on a PC simply run <code>\\<%= @node.puppet_fact("ipaddress") %>\deploy\install.bat</code></p>

<%= form_for @klass, url: { action: :configure }, html: { class: 'tabular' } do |f| -%>

<table class="list">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="left">Name</th>
      <th align="left">Revision</th>
      <th>Default profile</th>
    </tr>
  </thead>
  <tbody>
    <% @packages.each do |p| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <td><%=  p.id %></td>
    <td><%=  p.name %><%= "<br/>"+p.help if p.help %></td>
    <td><%=  p.revision %></td>
    <td align="center">
      <%= check_box_tag "config[#{p.id}]", true, @klass.config[p.id], :id => nil %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<p><%= f.submit "Save" %></p>

<% end %>

<hr/>
<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
