<%= error_messages_for 'custom_klass' %>

<!--[form:custom_klass]-->

<p><label for="custom_klass_name"><%="Name"%></label><br/>
<%= form.text_field 'name'  %></p>
<p><label for="custom_klass_description"><%="Description"%></label><br/>
<%= form.text_field 'description'  %></p>

<%= hidden_field_tag :node_id, @node.id %>

<div id="custom_klass_confs">
  <%= render :partial => 'custom_klass_conf', :collection => @klass.custom_klass_confs -%>
</div>
<p><%= add_ckc_link("Add configuration value") %></p>

<!--[eoform:custom_klass]-->
