<p><%= f.error_messages %></p>

<!--[form:custom_klass]-->

<p><%= f.text_field 'name'  %></p>
<p><%= f.text_field 'description'  %></p>

<div id="custom_klass_confs">
  <%= render :partial => 'custom_klass_conf', :collection => @klass.custom_klass_confs -%>
</div>
<p><%= add_ckc_link("Add configuration value") %></p>

<!--[eoform:custom_klass]-->
