<p><%= error_messages_for 'klass' %></p>

<!--[form:custom_klass]-->

<p><%= f.text_field 'name'  %></p>
<p><%= f.text_field 'description'  %></p>

<div id="custom_klass_confs">
  <%= f.fields_for :custom_klass_confs do |ckc_form| -%>
    <%= render :partial => 'custom_klass_conf', :locals => {:f => ckc_form} -%>
  <% end -%>
</div>
<p><%= add_ckc_link("Add configuration value", f) %></p>

<!--[eoform:custom_klass]-->
