<%= klass_menu "Fail2ban jails" %>

<% form_for(:fail2ban, @klass, :url => {:action => 'configure'} ) do |f| -%>

  <%= f.error_messages %>

  <p>Mail notifications to:<br />
  <%= f.text_field("mailto") %> (empty if don't want mail notifications)</p>
  <p><%= check_box_tag("fail2ban[jails][pop3]", 1, @klass.jails.include?("pop3")) %> pop3</p>
  <p><%= check_box_tag("fail2ban[jails][ssh]", 1, @klass.jails.include?("ssh")) %> ssh</p>
  <p><%= check_box_tag("fail2ban[jails][vsftpd]", 1, @klass.jails.include?("vsftpd")) %> vsftpd</p>

  <p>
    <%= f.label("custom_jails", "Custom jails:") %><br/>
    <%= f.text_area("custom_jails", :cols => 60, :rows => 15) %>
  </p>

  <p><%= submit_tag("Save")%></p>

<% end -%>

<hr />

<p><%= link_to "Back", :controller => 'klass', :action => 'list', :id => @node %></p>
